.form-parent-class {
	font-size: 14px;
}
.table-input-field {
	background: transparent !important;
	border: none !important;
	outline: none !important;
	width: 100% !important;
}

.div-border {
	padding: 0% !important;
}
.currency-input {
	width: 100% !important;
	text-align: center;
	border: none;
	outline: none;
	background-color: transparent !important;
}
